# dependencies
node_modules/

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# build
dist/
build/

# cache
.cache/
coverage/

# vscode
.vscode/